.container-footer{
    background-color: var(--cor2);
    height: 50vh;  
}
.content-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.item-footer{
    margin: 40px;
    color: var(--cor3);
    font-family:var(--font1); 
    font-size: 12px;
}
.descricao-footer{
    text-align: center;
    color: var(--cor3);
    font-family:var(--font1); 
    padding-bottom: 20px;
    font-size: 10px;
}
.img-footer{
    height: 100px;
    width: 100px;
}
@media screen and (max-width: 600px) {
    .container-footer{
        height: auto;
    }
    .content-footer{
        flex-direction: column;
        text-align: center;
    }
    
}