.container-topo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    position: fixed; 
    top: 0;
    width: 100vw;
    background-color: #f9db79;
}
.container-logo{
    
    /* border: 2px solid rgb(38, 0, 255); */
   
    height: min-content;
}
.img-logo{
    height: 90px;
    width: 90px;
    margin: 0px;
   /*  border: 2px solid rgb(30, 255, 0); */
}
.container-link{
   /*  border: 2px solid rgb(17, 16, 16); */
   /*  font-family: 'Poppins', sans-serif; */
}
.item-link{
/*     border: 2px solid rgb(182, 6, 158); */
    margin: 20px;
    color:black ;
    text-decoration: none;
    font-family:'Poppins', sans-serif; 
}
@media screen and (max-width: 600px) {
    .container-topo{
        flex-direction: column;
    }
    .container-link{
        border-top: 2px solid gray;
        padding-top: 0px;
    }
}