.container-banner {
  /*   border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url('../../../public/assets/banner-home.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 80px;
  background-color: var(--cor1);
}

.content-banner {}

.item-banner {
  font-family: var(--font2);
  color: var(--cor3);
  text-shadow: 5px 5px 5px var(--cor2);
  font-size: 60px;

}

.container-sabores,
.container-eventos,
.container-sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-sabores,
.item-eventos,
.item-sobre {
  width: 50vw;
}

.img-sabores,
.img-eventos,
.img-sobre {
  width: 50vw;

}

.descricao-sabores,
.descricao-eventos,
.descricao-sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:var(--font1);
  margin: 50px;
  width: 50vw;
  text-align: justify;
}

span {
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .container-sabores,
  .container-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-eventos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .descricao-sabores,
  .descricao-eventos,
  .descricao-sobre {
    width: 80vw;
    text-align: justify;
  }
  .item-banner {
    font-size: 30px;
    text-align: center;
  }
  .img-sabores,
  .img-eventos,
  .img-sobre {
    width: 98vw;
  }
  .item-sabores,
  .item-eventos,
  .item-sobre {
    width: 98vw;
  }
  .container-banner {
    width: 100vw;
    background-size: cover;
   /*  height: 100vh; */
  }
}
@media screen and (max-width: 768px) {}